# SPDX-FileCopyrightText: Copyright 2022 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

services:
  app:
    restart: always
    container_name: opal-listener
    build:
      context: .
      args:
        - NODE_ENV=dev
    environment:
      - TZ=EST5EDT
    expose:
      - "3000"
    env_file:
      - .env
    volumes:
      - ./certs:/certs
      - ./listener:/app/listener
      - ./legacy-registration:/app/legacy-registration
      - ./src:/app/src
    command: npm run watch:docker
  
  nginx:
    env_file:
      - .env
    container_name: nginx
    build:
      context: ./nginx
      args:
        NGINX_CONF: nginx_ec2.conf
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/www/.well-known/acme-challenge:/var/www/.well-known/acme-challenge
      - /etc/letsencrypt/live/mycarexlistener.gheit.co/fullchain.pem:/etc/ssl/certs/fullchain.pem
      - /etc/letsencrypt/live/mycarexlistener.gheit.co/privkey.pem:/etc/ssl/private/privkey.pem
    depends_on:
      - app
